<div class="auth-container">
  <h2>{{ isLoginMode() ? 'Login' : 'Sign Up' }}</h2>

  <form [formGroup]="authForm" (ngSubmit)="submit()">
    <input type="email" formControlName="email" placeholder="Enter email" />
    <input type="password" formControlName="password" placeholder="Enter password" />

    <button class="btn" type="submit">
      {{ isLoginMode() ? 'Login' : 'Create Account' }}
    </button>
  </form>

  <p>
    {{ isLoginMode() ? "Don't have an account?" : "Already have one?" }}
    <a (click)="switchMode()">
      {{ isLoginMode() ? 'Sign Up' : 'Login' }}
    </a>
  </p>
</div>
